@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

@layer components {
    @keyframes slideAnim {
        from {
          transform: translateX(0%);
        }
        to {
          transform: translateX(-100%);
        }
    }

    @keyframes hoverAnimation {
        0% {
            width: 0;
        }

        100% {
            @apply w-full
        }
    }

    @keyframes reverseHoverAnimation {
        0% {
            @apply w-full
        }

        100% {
            width: 0;
        }
    }

    .section-container {
      @apply flex flex-col bg-dark text-light px-5 md:px-20 xl:px-40 2xl:px-96 py-8 md:py-16 space-y-8
    }

    .primary-heading {
      @apply font-heading font-extrabold text-4xl xs:text-5xl md:text-6xl lg:text-7xl 2xl:text-9xl uppercase
    }

    .secondary-heading {
      @apply xl:text-7xl md:text-6xl xs:text-5xl text-2xl font-bold uppercase
    }

    .paragraph {
      @apply text-lightGray text-sm xs:text-base md:text-xl font-body
    }

    .basic-transition {
      @apply transition-all ease-linear duration-[0.25s];
    }
      
    .looper {
      width: 100%;
      overflow: hidden;
    }

    .looper__innerList {
      display: flex;
      justify-content: center;
      width: fit-content;
    }
    
    .looper__innerList[data-animate="true"] .looper__listInstance {
      animation: slideAnim linear infinite;   
    }
    
    .looper__listInstance {
      display: flex;
      width: max-content;
    
      animation: none;
    }

    .primary-button-light {
      @apply py-2 px-6 lg:px-8 bg-light text-dark font-body font-medium lg:font-bold tracking-wider text-base lg:text-lg border-2 lg:border-4 border-light hover:bg-transparent hover:text-light basic-transition uppercase
    }

    .link {
      text-decoration: none;
      position: relative;
    }

    .link:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      animation: reverseHoverAnimation 0.25s ease;

      @apply bg-lightBlue h-[10%]
    }

    .link:hover:after  {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      animation: hoverAnimation 0.25s ease;

      @apply bg-lightBlue w-full h-[10%]
    }

    .hamburger-line {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      display: block;
      height: 2px;
      width: 30px;

      @apply bg-light
    }
    
    .hamburger-active > span:nth-child(1) {
      @apply origin-top-left rotate-45
    }
    
    .hamburger-active > span:nth-child(2) {
      @apply scale-0
    }
    
    .hamburger-active > span:nth-child(3) {
      @apply origin-bottom-left -rotate-45
    }
}